<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/StyleSheet.css}" />
    <link rel="stylesheet" th:href="@{/EditVehicle.css}" />

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      defer
    ></script>
    <script th:src="@{/AddVehicle.js}" defer></script>

    <title>Adding Vehicle</title>
  </head>
  <body>
    <div id="dummy-section"></div>
    <div class="navbar">
      <div>
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{/Inventory/Used}">Used Inventory</a>
        <a th:href="@{/Inventory/Specials}">Specials</a>
        <a th:href="@{/Contact}">Contact</a>

        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
        <a
          th:href="@{/sales}"
          sec:authorize="hasRole('ADMIN') OR hasRole('SALES')"
          >Sales</a
        >
      </div>
      <div>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <h4 th:inline="text" sec:authorize="hasRole('ADMIN')">
          [[${#httpServletRequest.remoteUser}]] - ADMIN
        </h4>
        <h4 th:inline="text" sec:authorize="hasRole('SALES')">
          [[${#httpServletRequest.remoteUser}]] - SALES
        </h4>
        <form
          th:action="@{/logout}"
          method="post"
          sec:authorize="isAuthenticated()"
        >
          <input class="btn btn-warning" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
    <div class="container">
      <h1>Add Vehicle</h1>
      <form action="/admin/addVehicle" id="edit-vehicle-form" method="POST">
        <div id="form-element-container">
          <div>
            <label for="make">Make</label>
            <select class="form-control" id="make" name="makeName">
              <option selected disabled>Select Make</option>

              <option
                th:if="${(param.makeName == null)}"
                th:each="make : ${makes}"
                th:value="${make.makeName}"
                th:text="${make.makeName}"
              ></option>
              <option
                th:unless="${(param.makeName == null)}"
                th:each="make : ${makes}"
                th:value="${make.makeName}"
                th:text="${make.makeName}"
                th:selected="${make.makeName == param.makeName[0]}"
              ></option>
            </select>
          </div>
          <input type="hidden" id="modelsEmpty" th:value="${models.empty}" />
          <div>
            <label for="model">Model</label>
            <select class="form-control" id="model" name="modelName">
              <option selected disabled>Select Model</option>
              <option
                th:each="model : ${models}"
                th:value="${model.modelName}"
                th:text="${model.modelName}"
              ></option>
            </select>
          </div>
        </div>

        <div id="form-element-container">
          <div>
            <label for="bodyStyle">Body Style</label>
            <input
              type="text"
              name="bodyStyle"
              id="bodyStyle"
              class="form-control"
            />
          </div>

          <div>
            <label for="year">Year</label>
            <input type="text" name="year" id="year" class="form-control" />
          </div>
        </div>

        <div id="form-element-container">
          <div>
            <label for="transmission">Transmission</label>
            <input
              type="text"
              name="transmission"
              id="transmission"
              class="form-control"
            />
          </div>
          <div>
            <label for="color">Color</label>
            <input type="text" name="color" id="color" class="form-control" />
          </div>
        </div>

        <div id="form-element-container">
          <div>
            <label for="mileage">Mileage</label>
            <input
              type="text"
              name="mileage"
              id="mileage"
              class="form-control"
            />
          </div>
          <div>
            <label for="VIN">VIN #</label>
            <input type="text" name="VIN" id="VIN" class="form-control" />
          </div>
        </div>

        <div id="form-element-container">
          <div>
            <label for="interior">Interior</label>
            <input
              type="text"
              name="interior"
              id="interior"
              class="form-control"
            />
          </div>
          <div>
            <label for="isFeatured">Featured</label>
            <select class="form-control" id="isFeatured" name="isFeatured">
              <option value="true">Featured</option>
              <option value="false">Not Featured</option>
            </select>
          </div>
        </div>

        <div id="form-element-container">
          <div>
            <label for="MSRP">MSRP</label>
            <input type="text" name="MSRP" id="MSRP" class="form-control" />
          </div>
          <div>
            <label for="salePrice">Sale Price</label>
            <input
              type="text"
              name="salePrice"
              id="salePrice"
              class="form-control"
            />
          </div>
        </div>
        <label for="DESCRIPTION">Description</label>
        <textarea
          type="text"
          name="DESCRIPTION"
          id="DESCRIPTION"
          class="form-control"
        ></textarea>
        <div>
          <button type="submit" class="btn btn-primary">Save</button>
          <input
            type="hidden"
            name="userName"
            th:value="${#httpServletRequest.remoteUser}"
          />
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
  </body>
</html>
