<!DOCTYPE html>

<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <link rel="stylesheet" th:href="@{/StyleSheet.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />

    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
    <div id="dummy-section"></div>
    <div class="navbar">
      <div>
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{/Inventory/Used}">Used Inventory</a>
        <a th:href="@{/Inventory/Specials}">Specials</a>
        <a th:href="@{/Contact}">Contact</a>

        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
        <a
          th:href="@{/sales}"
          sec:authorize="hasRole('ADMIN') OR hasRole('SALES')"
          >Sales</a
        >
      </div>
      <div>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <h4 th:inline="text" sec:authorize="hasRole('ADMIN')">
          [[${#httpServletRequest.remoteUser}]] - ADMIN
        </h4>
        <h4 th:inline="text" sec:authorize="hasRole('SALES')">
          [[${#httpServletRequest.remoteUser}]] - SALES
        </h4>
        <form
          th:action="@{/logout}"
          method="post"
          sec:authorize="isAuthenticated()"
        >
          <input class="btn btn-warning" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
    <div class="container">
      <h1>What would you like to do today?</h1>
      <div id="admin-links">
        <button class="btn btn-success">
          <a th:href="@{/admin/vehicles}" sec:authorize="hasRole('ADMIN')"
            >Manage Vehicles</a
          >
        </button>
        <button class="btn btn-warning">
          <a th:href="@{/admin/users}" sec:authorize="hasRole('ADMIN')"
            >Manage User</a
          >
        </button>
        <button class="btn btn-info">
          <a th:href="@{/admin/reports}" sec:authorize="hasRole('ADMIN')"
            >View Reports</a
          >
        </button>
      </div>
    </div>
  </body>
</html>
