<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="StyleSheet.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title>
        Change Password
    </title>
</head>
<body>
    <div class="navbar">
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{/Inventory/Used}">Used Inventory</a>
        <a th:href="@{/Inventory/Specials}">Specials</a>
        <a th:href="@{/Contact}">Contact</a>
        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a> 
        <a th:href="@{/Sales}" sec:authorize="hasRole('ADMIN') OR hasRole('SALES')">Sales</a>
    </div>
    
    <div class="container"><h1>Change Password</h1></div>
    
    <div class="container col-md-8 offset-md-2 border border-primary">
        <div class="col-md-8 offset-md-2">
        <form th:action="@{/Account/updatePassword}" method="post">
            <label for="Password">Password</label> <br />
            <input type="text" id="password" name="Password" />
            <br />
            <label for="Password2">Confirm Password</label> <br />
            <input type="text" id="Password2" name="Password2" />
            <br />
            <input type="hidden" name="email" value="[[${#httpServletRequest.remoteUser}]]"/>
            <input type="submit" value="Save">
        </form>
            </div>
    </div>
    
</body>
</html>


