<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div class="navbar">
      <a th:href="@{/Index}">Home</a>
      <a th:href="@{/Inventory/New}">New Inventory</a>
      <a th:href="@{/Inventory/Used}">Used Inventory</a>
      <a th:href="@{/Inventory/Specials}">Specials</a>
      <a th:href="@{/Contact}">Contact</a>
      <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
      <a
        th:href="@{/sales}"
        sec:authorize="hasRole('ADMIN') OR hasRole('SALES')"
        >Sales</a
      >
    </div>
    <div><h1>This page for admins only</h1></div>
    <a th:href="@{/Index}">Home Page</a>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>
  </body>
</html>
