<!DOCTYPE html>

<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <link rel="stylesheet" href="StyleSheet.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      defer
    ></script>

    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>
    <div class="navbar">
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{Inventory/UsedInventory}">Used Inventory</a>
        <a th:href="@{Specials}">Specials</a>
        <a href="Contact">Contact</a>
        <a href="login" sec:authorize="hasRole('ADMIN')">Admin</a> <!-- change these links -->
        <a href="login" sec:authorize="hasRole('ADMIN') OR hasRole('SALES')">Sales</a>
    </div>

    <div class="container">
        <a th:href="@{/Inventory/Specials}">
            <div class="jumbotron">
                <img th:src="@{/ImageJumbotron.jpg}" />
                <p th:each="special : ${specials}">
                    <span th:text="${special.SpecialTitle}"> </span>
                </p>
            </div>
        </a>
    </div>

    <div class="container">
        <div class="featuredVehicles">
            <h2>Featured Vehicles</h2>
        </div>
        <table>
            <tr >
                        <th th:each="vehicle : ${featuredVehicles}">
                            <!--<p th:text="${vehicle.VehicleId}"> </p>-->
                            <p th:text="${vehicle.make.makeName}"> </p>
                            <p th:text="${vehicle.model.modelName}"> </p> 
                            <p th:text="${vehicle.SalePrice}"> </p> 
                    
                        </th>
<!--            <div class="tableOne" id='featuredTable'>
                <p >
                    <span th:text="${vehicle.DESCRIPTION}"> </span>
                </p>-->
            </tr>
                </table>
<!--                <table>
                    <tr>
                        <th>
                            Car 1
                            Image:
                            Make and Model 
                            Price 
                    
                        </th>
                        <th>
                            Car 2
                            Image:
                            Make and Model
                            Price
                        </th>
                        <th>
                            Car 3
                            Image:
                            Make and Model
                            Price
                        </th>
                        <th>
                            Car 4
                            Image:
                            Make and Model
                            Price
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Car 5
                            Image:
                            Make and Model
                            Price
                        </th>
                        <th>
                            Car 6
                            Image:
                            Make and Model
                            Price
                        </th>
                        <th>
                            Car 7
                            Image:
                            Make and Model
                            Price
                        </th>
                        <th>
                            Car 8
                            Image:
                            Make and Model
                            Price
                        </th>
                    </tr>
                </table>-->
            </div>
        </div>  


</body>
</html>
