<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="StyleSheet.css" />
    <meta charset="utf-8" />
    <title>NewInventory</title>
</head>
<body>
    <div class="navbar">
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{/Inventory/Used}">Used Inventory</a>
        <a href="Specials">Specials</a>
        <a th:href="@{/Contact}">Contact</a>
        <a href="login" sec:authorize="hasRole('ADMIN')">Admin</a> 
        <a href="login" sec:authorize="hasRole('ADMIN') OR hasRole('SALES')">Sales</a>
    </div>
    <br />
    <br />
    <br />
    <div class="SearchBar">
        <h3>Quick Search</h3>
        <form name="formS" id="Searchform" action="Script1.js">
            <input type="search" id="query" name="q" placeholder="Enter make, model, or year...">
            <div class="dropdown">
                Prices: <select name="subject" class="dropbtn" id="subject">
                    <option value="" selected="selected">Min Price</option>
                </select>
                <select name="subject" class="dropbtn" id="subject">
                    <option value="" selected="selected">Max Price</option>
                </select>
            </div>

            <div class="dropdown2">
                Year:
                <select name="subject" class="dropbtn" id="subject">
                    <option value="" selected="selected">Min Year</option>
                </select>
                <select name="subject" class="dropbtn" id="subject">
                    <option value="" selected="selected">Max Year</option>
                </select>
            </div>

            <button type="submit" class="search">Search</button>
        </form>
    </div>
    <div id="myDropdown"></div>
</body>
</html>