<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="StyleSheet.css" />
    <meta charset="utf-8" />
    <title>NewInventory</title>
</head>
<body>
    <div class="navbar">
        <a th:href="@{/Index}">Home</a>
        <a href="InventoryNew.html">New Inventory</a>
        <a href="UsedInventory.html">Used Inventory</a>
        <a href="Specials.html">Specials</a>
        <a href="Contact.html">Contact</a>
        <a sec:authorize="hasRole('ADMIN')">Admin</a>
        <a sec:authorize="hasRole('ADMIN') OR hasRole('SALES')">Sales</a>
    </div>
    <br />
    <br />
    <br />
    <div class="SearchBar">
        <h3>Quick Search</h3>
        <form id="Searchform">
            <input type="search" id="query" name="q" placeholder="Enter make, model, or year...">
            Price
            <div class="dropdown">
                <script src="Script1.js"></script>
                <button onclick="myFunction()" class="dropbtn">Min Price</button>
                :
                <div id="myDropdown" class="dropdown-content"></div>
                <button onclick="myFunction()" class="dropbtn2">Max Price</button>
            </div>
        </form>
    </div>

</body>
</html>