<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <link rel="stylesheet" th:href="@{/StyleSheet.css}" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      defer
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      defer
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <title>Login</title>
  </head>
  <body>
    <div id="dummy-section"></div>
    <div class="navbar">
      <div>
        <a th:href="@{/Index}">Home</a>
        <a th:href="@{/Inventory/New}">New Inventory</a>
        <a th:href="@{/Inventory/Used}">Used Inventory</a>
        <a th:href="@{/Inventory/Specials}">Specials</a>
        <a th:href="@{/Contact}">Contact</a>

        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin</a>
        <a
          th:href="@{/sales}"
          sec:authorize="hasRole('ADMIN') OR hasRole('SALES')"
          >Sales</a
        >
      </div>
      <div>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
        <h4 th:inline="text" sec:authorize="hasRole('ADMIN')">
          [[${#httpServletRequest.remoteUser}]] - ADMIN
        </h4>
        <h4 th:inline="text" sec:authorize="hasRole('SALES')">
          [[${#httpServletRequest.remoteUser}]] - SALES
        </h4>
        <form
          th:action="@{/logout}"
          method="post"
          sec:authorize="isAuthenticated()"
        >
          <input class="btn btn-warning" type="submit" value="Sign Out" />
        </form>
      </div>
    </div>
    <div class="container">
      <h1>Makes</h1>
      <form action="/sales/addMake" id="make-form" method="POST">
        <label for="makeName">New Make</label>
            <input
              type="text"
              name="makeName"
              id="makeName"
              class="form-control"
              placeholder="Make Name"
            />
            <input type="hidden" name="userName" th:value="${#httpServletRequest.remoteUser}" />
        <button type="submit" class="btn btn-primary">Add Make</button>
      </form>
      
      </button>
      <table class="table table-striped" id="users-table">
        <thead class="thead-dark">
          <tr>
            <th>Make</th>
            <th>Date Added</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="make : ${makes}">
            <td th:text="${make.makeName}">Make</td>
            <td th:text="${make.dateAdded}">Date Added</td>
            <td th:text="${make.userEmail}">User</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
