<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="StyleSheet.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title>
        Home
    </title>
</head>
<body>
    <div class="navbar">
        <a href="Index.html">Home</a>
        <a href="InventoyNew.html">New Inventory</a>
        <a href="UsedInventory.html">Used Inventory</a>
        <a href="Specials.html">Specials</a>
        <a href="Contact.html">Contact</a>
        <a href="login.html" sec:authorize="hasRole('ADMIN')">Admin</a>
        <a href="login.html" sec:authorize="hasRole('ADMIN') OR hasRole('SALES')">Sales</a>
    </div>
    </body>
</html>



