.btn a {
  color: #f2f2f2;
}

.thead-dark {
  color: #f2f2f2 !important;
  background-color: #233850 !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background-color: cornflowerblue;
  border-block: solid;
  border-block-color: black;
  border-right: solid;
  border-left: solid;
  border-width: 2px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  position: fixed !important;
}

#dummy-section:before {
  height: 54px;
  content: '';
  display: block;
}

.navbar form {
  margin-left: 20px;
}

.navbar div:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.navbar h4 {
  color: #f2f2f2;
  font-size: 17px;
}

.navbar a {
  float: left;
  text-align: center;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.jumbotron {
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 8px;
  color: inherit;
  background-color: #eee;
  padding: 0 !important;
  margin: 0 !important;
}
.jumbotron img {
  overflow: hidden;
  width: 100vw;
}

#featuredVehicles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 200px;
}
#featuredVehicles-container #vehicle-element {
  padding: 5px;
  border: black 4px solid;
  margin: 0 0 30px 80px;
}

#featuredVehicles-container #vehicle-element div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#featuredVehicles-name {
  margin-top: 10px;
}

#featuredVehicles-container #featuredVehicles-name span {
  margin-right: 5px;
  font-weight: 600;
  font-size: 20px;
}

#featuredVehicles-price span {
  font-weight: 800;
  font-size: 30px;
}
#admin-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  justify-content: flex-start;
}

#admin-links button {
  margin-right: 20px;
  white-space: normal; /* css-3 */
  word-wrap: break-word;

  text-align: center;
  width: 270px;
}

#admin-links a {
  text-decoration: none;
  font-size: 50px;
  color: #f2f2f2;
}

#users-table {
  margin-top: 30px;
}

#user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

#user-form #form-element-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#user-form input,
#user-form label,
#user-form select {
  width: 300px !important;
  margin-right: 80px;
}

#report-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#report-form input,
#report-form select {
  width: 200px;
}

#report-form label {
  margin-right: 20px;
}

#report-form select#user {
  margin-right: 30px;
}

#make-form label {
  margin-right: 20px;
}

#make-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#make-form input,
#make-form select {
  width: 200px;
}

#make-form input#modelName {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  /*    .jumbotron {
        padding: 48px
    }*/

  .jumbotron .h1,
  .jumbotron h1 {
    font-size: 63px;
  }
}

.featuredVehicles {
  margin-left: 25px;
}

.tableOne {
  margin-left: 200px;
  margin-right: 200px;

  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 20px;
  padding-right: 15px;
}

.contactUs {
  background-color: #f2f2f2;
  padding: 20px;
  float: left;
  /*margin-top:40px;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactUs input[type='text'],
select,
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contactUs input[type='email'],
select,
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contactUs input[type='tel'],
select,
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contactUs input[type='text'],
select,
textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#subject,
select,
textarea {
  height: 200px;
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.SearchBar {
  float: left;
  padding-bottom: 30px;
  /*border-block: solid;*/
  /*border-block-color: black;*/
  border-right: solid;
  border-left: solid;
  border-width: 2px;
  width: 100%;
  background-color: #eee;
}
h3 {
  margin-left: 10px;
}
#Searchform {
  margin-top: 5px;
  font-size: 17px;
  border: none;
  justify-content: flex-start;
  margin-left: 30px;
  display: grid;
}

#likeQuery {
  width: 350px;
  height: 35px;
}

.SearchBar input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.dropbtn {
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  border: none;
  max-height: 40px;
  max-width: 120px;
}
.dropbtnnewUsed {
  background-color: cornflowerblue;
  color: white;
  padding: 5px;
  border: none;
  max-height: 40px;
  max-width: 145px;
}
.search {
  width: 100px;
  height: 25px;
}

.newMake {
  border-block-style: solid;
  border-block-color: black;
  margin: 15px 20px 15px 20px;
  border-right: solid black;
  border-left: solid black;
  background-color: #eee;
  height: 50px;
}

#NMform {
  display: flex;
  align-content: space-between;
}

#newMake {
  max-height: 29px;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

#NMsubmit {
  max-height: 30px;
  width: 55px;
  background-color: cornflowerblue;
  color: white;
  margin-top: 8px;
  text-align: center;
}

p {
  padding-left: 10px;
  padding-top: 8px;
}

#displayMakesTable {
  margin-left: 20px;
}

#displayMakesTable td {
  border: 2px solid black;
  text-align: left;
  height: 50px;
  width: 120px;
}

#displayMakesTable td content {
  text-align: center;
  padding-left: 5px;
}
